body {
    font-family: "Inter", sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.header {
    height: 100vh;
    background: linear-gradient(180deg, #CADBEB 0%, rgba(235, 235, 235, 0.00) 100%);
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.logo {
}

.menu {
}

.menu__list {
    align-items: center;
    display: flex;
    gap: 0 40px;
    font-weight: 700;
}

.menu__item {
}

.menu__link {
}

.menu__btn {
    padding: 15px 58px;
    border-radius: 30px;
    background-color: #000;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.header__content {
}

.title {
}

.header__content-images {
}