.grid {
	background-color: black;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
}

.cell {
	background-color: #fff;
	border: none;
	height: 150px;
	cursor: pointer;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
}

.cell:hover {
	background-color: rgb(220, 220, 220);
}
