@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.app {
	width: 100svw;
	height: 100svh;
	background-color: #1e1e1e;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
}

.tittle {
	font-size: 85px;
	margin-bottom: 3rem;
	color: aliceblue;
}
